<!DOCTYPE html>
<html>
    <head>
        <title>Bookit! 2</title>
    </head>
    
    <body>
        <h1>Bookit! 2</h1>
        <h2>Latest Bookmarks</h2>
        <h3>Welcome {{session.username}}</h3>
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
        <ul>
            {% for bookmark in bookmarks %}
            <li>
                <h2>
                    <a href="{{url_for('bookmarks', url_md5=bookmark[2])}}">{{ bookmark[0] }}</a>
                </h2>
                <ul>
                    {% for tag in bookmark[1] %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </body>

    <footer>
        <a href="/">Home</a>
        <a href="/add">Add another bookmark!</a>
    </footer>
</html>