<!DOCTYPE html>
<html>
    <head>
        <title>Bookmarks</title>
    </head>

    <body>
        <h1>Login</h1>

        <form action="/madelogin" method="post">
            <p><label>Username:</label><br>
                <input type="text" name="username" id="username">
            </p>
            <p><label>Password:</label><br>
                <input type="text" name="password" id="password">
            </p>

            <p><input type="submit" value="Login"></p>
        </form>
    </body>
</html>