
<header class="flex items-center justify-between px-8 py-4 text-white bg-gray-800">
    <a href="/">
        <div>
            <h1 class="text-2xl font-bold">TickETCD</h1>
            <h2 class="text-sm">Consistency in Every Ticket</h2>
        </div>
    </a>
    <% if (user && user.username) { %>
        <div class="ml-auto">
            <a href="/profile?username=<%= user.username %>" class="text-blue-300">Welcome, <%= user.username %></a>
        </div>
    <% } %>
    <% if (user && user.role == 'admin') { %>
        <div class="ml-4">
            <a href="/admin" class="text-blue-300">Admin Page</a>
        </div>
    <% } %>
    <% if (user) { %>
        <div class="ml-4">
            <form action="/logout" method="POST">
                <button type="submit" class="text-blue-300">Logout</button>
            </form>
        </div>
    <% } %>
</header>

