<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <h1>TickETCD</h1>
    <h2>Consistency in Every Ticket</h2>
  </header>

  <main>
    Profile!
  </main>

  <footer>
    <p>BDNR @ 2024</p>
  </footer>

</body>
</html>
